env
.env
__pycache__/
*.py[cod]
.vscode/
db.sqlite3
media/
immoizi/media/
*.pot
*.log
local_settings.py
immoizi/immoizi/__pycache__
immoizi/products/__pycache__
immoizi/products/migrations/__pycache__
